/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#annuler,#couper,#copier,#coller,#supprimer,#dupliquer,#selectionnerTout, #supprimerTout{
	/* @SuppressWarning */
	-fx-background-color: #4B535E     ;
	/* @SuppressWarning */
	-fx-text-fill: #E4E4E4	 ;
	
}

#annuler:hover,#couper:hover,#copier:hover,#coller:hover,#supprimer:hover,#dupliquer:hover,#selectionnerTout:hover, #supprimerTout:hover{
	/* @SuppressWarning */
	-fx-background-color: #5A6572      ;
	/* @SuppressWarning */
	-fx-text-fill: #000000;
	/* @SuppressWarning */
	-fx-background: #FFFFFF;
}
