.table-view{
   -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
	-fx-height: 36px;
	
    -fx-background-color:  #303337;
}



.buttonBar{
	    -fx-background-color:  #303337;
	    -fx-margin-top : 0;
	    -fx-margin : 0;
	    -fx-height : 150px;
	
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: #e4e4e4;
    -fx-font-family: "Calisto MT";
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: #e4e4e4;
    -fx-alignment: CENTER;
    /*-fx-font-smoothing-type: lcd;*/
 	-fx-font-size: 11pt;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color,  #4b535e;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color,  #4b535e;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */  
}

.table-row-cell:selected {
    -fx-background-color:  #5a6572;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}
.table-cell { 
  -fx-font-family: "Calisto MT"; 
  	-fx-height: 136px;
  
}




.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}




.documentationButton{
	-fx-background-color : transparent;
	-fx-border-color : white;
	-fx-border-radius : 3px;
	-fx-color : red;
}

.documentationButton:hover{
	-fx-background-color : white;
	-fx-border-radius : 3px;
	-fx-text-fill: black;	
	
}

.fermerButton{
		-fx-background-color : white;
		-fx-text-fill: black;	
	
}







