.comb, .seq, .portes, .outils{
	-fx-background-color : #e0e0d1;
	-fx-focus-color: transparent;  
	-fx-faint-focus-color: transparent;
	  	
	
    }
    
    
    .comb:hover, .seq:hover, .portes:hover, .outils:hover{
	-fx-cursor: hand;
	-fx-background-color : #ffffff;
    }
    
   /* 
    .tabpane{
    		-fx-background-color : red;
    	
    }
    */
    
    .comb:selected, .seq:selected, .portes:selected, .outils:selected {
    	    		-fx-background-color :  #303337;
    }